<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="../" target="_blank">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
</head>
<body style = "display:flex; flex-direction:column-reverse;">
    <p>The Crown Estate, which manages a substantial portion of the seabed around England, Wales, and Northern Ireland, has ambitious plans to expand offshore wind farms. These plans are part of the UK's strategy to achieve its net-zero carbon emissions target by 2050. The Crown Estate intends to lease significant areas of the seabed for the development of wind energy projects, facilitating an increase in renewable energy capacity. 
        </p>
    <p>This expansion aims to harness the UK's abundant offshore wind resources, promoting sustainable energy production, reducing reliance on fossil fuels, and driving economic growth through the creation of green jobs and investment opportunities in the renewable energy sector. 
    </p>
    <p>The Crown Estate is also committed to environmental stewardship, ensuring that these developments are undertaken responsibly, with careful consideration of marine ecosystems and local communities.
    </p>
    </body>
</html>