
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="../" target="_blank">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
</head>
<body style = "display:flex; flex-direction:column-reverse;">
    https://www.marinedataexchange.co.uk/search?sortBy=Relevance&lat=54.29826521506428&lon=-4.679688036442419&zoom=5&view=series
    <iframe src="https://www.marinedataexchange.co.uk/search?sortBy=Relevance&lat=54.29826521506428&lon=-4.679688036442419&zoom=5&view=series" style="width:100%;height:100%;border:none;"></iframe>
    </body>
</html>