<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="../" target="_blank">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<script src="../static/js/helper.js"></script>
<body style="
background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../static/css/ocean.jpg');
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;">
<frame-rows>
    <frame-expand>
        <frame-columns>
          <frame-reader style="margin-top:70px; height:calc(100% - 80px);">
            <frame-widget style="width:calc(100% - 15px);">
                <frame-expand>
                    <frame-retract>
                      <bubble-button>
                        Crown Estate
                      </bubble-button>
                    </frame-retract>
                    <frame-expand>
                      <frame-scroller style="padding:5px;flex: 1 1;">
													<bubble-button class="menu-button" data-link = "index.html">
                            About
													</bubble-button>
                          <bubble-button class="menu-button" data-link = "map.html">
                            Action
                          </bubble-button>
                          <bubble-button class="menu-button" data-link = "">
                            Affiliate
                          </bubble-button>
                      </frame-scroller>
                    </frame-expand>
                </frame-expand>
            </frame-widget>
            <embed id = "embed-view" style="height:100%;width:100%;border-radius:10px;">
            </embed>
            </frame-reader>
          </frame-reader>
        </frame-columns>
    </frame-expand>
</frame-rows>
<script>
let menu_buttons = $get_class("menu-button"); // Get all buttons in the menu.
for (let index = 0; index < menu_buttons.length; index++) {
  let menu_button = menu_buttons[index];
  $event(menu_button,"click",function() {
    $get("embed-view").src = menu_button.getAttribute("data-link");
  })
}
</script>
</body>
</html>