<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="../" target="_blank">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css" integrity="sha512-Zcn6bjR/8RZbLEpLIeOwNtzREBAJnUKESxces60Mpoj+2okopSAcSUIUOseddDm0cxnGQzxIR7vJgsLZbdLE3w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<script src="../static/js/helper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js" integrity="sha512-BwHfrr4c9kmRkLw6iXFdzcdWV/PGkVgiIyIWLLlTSXzWQzxuSg4DiQUCpauz/EWjgk5TYQqX/kvn9pG1NpYfqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet-src.js" integrity="sha512-x4B5AXtD8SqDqEpzOFXxCE0OOUhQ0Fep3Qka6WtUa3tw7z4fC7eOI4Vjm191HB63//4Y554Zxydbt2Hi8b+bVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<body>
    <div id="map" style="position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; left:0;">

    </div>
</body>
<script>
var map = L.map('map').setView([51.505, -0.09], 6); // initialise Leaflet map.
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', { // load.
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

let temperature_basis = 283 // Kelvin

function iterate_data(name,callback) { // function to iterate through a downloaded CSV from the server.
    let csv_raw = $download("static/"+name);
    let csv_data = csv_raw.split("\n");
    for (let index = 0; index < csv_data.length; index++) {
        let data = csv_data[index].split(",");
        callback(data);
    }
}

let winds_raw = $download("static/winds.csv")
let winds_data = winds_raw.split("\n");

iterate_data("winds.csv",function(data) { // Display rectangles
    let longitude = Number(data[0]);
    let latitude = Number(data[1]);
    let temperature = Number(data[2]);
    let gust = Number(data[3]);
    let wind = Number(data[4]);

    let negativity = (Math.abs(wind-10)*40).clamp(0,255);

    //let temperature_value = ((temperature_value-temperature_basis)*40).clamp(0,255);
    //let gust_value = (gust*28).clamp(0,255);
    //let wind_value = (wind*36).clamp(0,255);

    var bounds = [[latitude-0.5,longitude+0.5],[latitude+0.5,longitude-0.5]];
    let opacity = 0
    if (wind > 3.5) {opacity = 0.5;}
    let popup = L.rectangle(bounds, {fillColor: "rgb("+(negativity)+","+(255-negativity)+",0)", weight: 0, fillOpacity: opacity}).addTo(map);
    popup.bindPopup("Yearly Average:\nLatitude:"+latitude
    +"\nLongtiude: "+longitude+
    "\nTemperature: "+Math.round(temperature-273)+
    "°C\nGust: "+Math.round(gust)+
    "m/s\nWind: "+Math.round(wind)+"m/s");
    popup.on('mouseover', function (e) {
        this.openPopup();
    });
    popup.on('mouseout', function (e) {
        this.closePopup();
    });
})

var arrow_icon = L.icon({
    iconUrl: 'static/arrow.png',
    iconSize: [38, 95],
    iconAnchor: [22, 94],
    popupAnchor: [-3, -76],
    shadowSize: [68, 95],
    shadowAnchor: [22, 94]
});

iterate_data("waves.csv",function(data) { // Potential code for waves.csv data.
    let longitude = Number(data[0]);
    let latitude = Number(data[1]);
    let period = Number(data[2]);
    let height = Number(data[3]);
    let direction = Number(data[4]);

    var bounds = [[latitude-0.5,longitude+0.5],[latitude+0.5,longitude-0.5]];

    /*L.marker([latitude,longitude], { // Requires a github package.
        rotationAngle: direction,
        icon: arrow_icon
    }).addTo(map);*/
})
</script>
</html>