<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="../" target="_blank">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css" integrity="sha512-Zcn6bjR/8RZbLEpLIeOwNtzREBAJnUKESxces60Mpoj+2okopSAcSUIUOseddDm0cxnGQzxIR7vJgsLZbdLE3w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<script src="../static/js/helper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js" integrity="sha512-BwHfrr4c9kmRkLw6iXFdzcdWV/PGkVgiIyIWLLlTSXzWQzxuSg4DiQUCpauz/EWjgk5TYQqX/kvn9pG1NpYfqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet-src.js" integrity="sha512-x4B5AXtD8SqDqEpzOFXxCE0OOUhQ0Fep3Qka6WtUa3tw7z4fC7eOI4Vjm191HB63//4Y554Zxydbt2Hi8b+bVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<body>
    <div id="map" style="position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; left:0;">

    </div>
</body>
<script>
var map = L.map('map').setView([51.505, -0.09], 6); // initialise Leaflet map.
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', { // load.
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

let winds_raw = $download("static/winds.csv")
let winds_data = winds_raw.split("\n");

let basis = 283 // Kelvin

for (let index = 0; index < winds_data.length; index++ ) {
    let data = winds_data[index].split(",");

    let longitude = Number(data[0]);
    let latitude = Number(data[1]);
    let temperature = Number(data[2]);
    let gust = Number(data[3]);
    let wind = Number(data[4]);

    let temperature_value = ((temperature-basis)*40).clamp(0,255);
    let gust_value = (gust*25).clamp(0,255);
    let wind_value = (gust*25).clamp(0,255);

    var bounds = [[longitude-0.5,latitude+0.5],[longitude+0.5,latitude-0.5]];
    L.rectangle(bounds, {fillColor: "rgb("+temperature_value+","+gust_value+","+wind_value+")", weight: 0}).addTo(map);
}

</script>
</html>